name: Draft next release

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  draft_next_release:
    runs-on: ubuntu-latest

    steps:
      - name: Draft next release
        uses: release-drafter/release-drafter@v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
